In [1]:
%run "../Libraries/Display.ipynb"
%run "../Libraries/Standard.ipynb"
%run "../Libraries/Modelling.ipynb"
%run "../Libraries/Style.ipynb"
%run "../Core/Standard.ipynb"
%run "../Core/Engineering.ipynb"
%run "../Core/Modelling.ipynb"

c:\users\mpapagiannidis\appdata\local\programs\python\python37\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

# Read Data

In [2]:
sage = pd.read_csv("sage.csv")
manager = pd.read_csv("manager.csv")

sage = sage[sage['Nom Code'] == 2010]

sage.sort_index(inplace=True)
manager.sort_index(inplace=True)

# Make 'Inv No' UPPER

In [3]:
sage['Inv No'] = sage['Inv No'].apply(lambda x: x.upper())

manager['Inv No'] = manager['Inv No'].apply(lambda x: x.upper())

In [4]:
print(len(sage['Inv No'].unique()))

print(len(manager['Inv No'].unique()))

4619
7527

# Find Indexes

In [5]:
sage_index = sage['Inv No'].unique()

manager_index = manager['Inv No'].unique()

common_index = list(set(sage_index).intersection(manager_index))

# Find Common - Group

In [6]:
common_manager = manager[ manager['Inv No'].isin(common_index) ]

common_sage = sage[ sage['Inv No'].isin(common_index) ]

group_common_manager = common_manager.groupby(['Inv No']).sum()

group_common_sage = common_sage.groupby(['Inv No', 'Month']).sum()

group_common_manager.to_csv("group_common_manager.csv")

group_common_sage.to_csv("group_common_sage.csv")

group_common_manager = pd.read_csv("group_common_manager.csv")

group_common_sage = pd.read_csv("group_common_sage.csv")

In [7]:
merge_common = pd.merge( group_common_sage, group_common_manager, on=['Inv No'] )

# merge_common = merge_common.groupby(['Inv No']).sum()

# merge_common = merge_common.groupby(['Inv No']).agg({
#     'Nom Code_x': 'first', 'NLNominalAccounts.AccountCostCentre': 'first',
#        'NLNominalAccounts.AccountName': 'first',
#        'NLPostedNominalTrans.UniqueReferenceNumber': 'first', 'Month': 'first',
#        'NLPostedNominalTrans.TransactionDate': 'first',
#        'SYSAccountingPeriods.PeriodNumber': 'first', 'Inv No': 'first',
#        'NLPostedNominalTrans.Narrative': 'first',
#        'NLPostedNominalTrans.GoodsValueInBaseCurrency': 'sum', 'Date': 'first', 'Period': 'first',
#        'Details': 'first', 'Start Date': 'first', 'End Date': 'first', 'Day Rate': 'sum', 'Cust a/c': 'first', 'Customer': 'first',
#        'Del': 'first', 'Inv Value': 'sum', 'Nom Code_y': 'first', 'CC': 'first', 'Jun-16': 'sum', 'Jul-16': 'sum', 'Aug-16': 'sum',
#        'Sep-16': 'sum', 'Oct-16': 'sum', 'Nov-16': 'sum', 'Dec-16': 'sum', 'Jan-17': 'sum', 'Feb-17': 'sum', 'Mar-17': 'sum',
#        'Apr-17': 'sum', 'May-17': 'sum', 'Jun-17': 'sum', 'Jul-17': 'sum', 'Aug-17': 'sum', 'Sep-17': 'sum', 'Oct-17': 'sum',
#        'Nov-17': 'sum', 'Dec-17': 'sum', 'Jan-18': 'sum', 'Feb-18': 'sum', 'Mar-18': 'sum', 'Apr-18': 'sum', 'May-18': 'sum',
#        'Jun-18': 'sum', 'Jul-18': 'sum', 'Aug-18': 'sum', 'Sep-18': 'sum', 'Oct-18': 'sum', 'Nov-18': 'sum', 'Dec-18': 'sum',
#        'Jan-19': 'sum', 'Feb-19': 'sum', 'Mar-19': 'sum', 'Apr-19': 'sum', 'May-19': 'sum'
# })

merge_common.to_csv("merge_common.csv")

# Find Not in - Group

In [8]:
not_in_sage = manager[ ~manager['Inv No'].isin(common_index) ]

not_in_manager = sage[ ~sage['Inv No'].isin(common_index) ]

group_not_in_sage = not_in_sage.groupby(['Inv No']).sum()

group_not_in_manager = not_in_manager.groupby(['Inv No', 'Month']).sum()

group_not_in_sage.to_csv("group_not_in_sage.csv")

group_not_in_manager.to_csv("group_not_in_manager.csv")

group_not_in_sage = pd.read_csv("group_not_in_sage.csv")

group_not_in_manager = pd.read_csv("group_not_in_manager.csv")

# Find Differences

In [9]:
merge_common = pd.read_csv("merge_common.csv")

merge_common['Difference'] = np.nan

In [10]:
months = ['Jun-16', 'Jul-16', 'Aug-16', 'Sep-16', 'Oct-16', 'Nov-16', 'Dec-16',
       'Jan-17', 'Feb-17', 'Mar-17', 'Apr-17', 'May-17', 'Jun-17', 'Jul-17',
       'Aug-17', 'Sep-17', 'Oct-17', 'Nov-17', 'Dec-17', 'Jan-18', 'Feb-18',
       'Mar-18', 'Apr-18', 'May-18', 'Jun-18', 'Jul-18', 'Aug-18', 'Sep-18',
       'Oct-18', 'Nov-18', 'Dec-18', 'Jan-19', 'Feb-19', 'Mar-19', 'Apr-19',
       'May-19']

In [11]:
i = 0

for index, row in merge_common.iterrows():
    merge_common.iloc[i, -1] = -1*row['NLPostedNominalTrans.GoodsValueInBaseCurrency'] - row[row['Month']]            
    i = i + 1

In [12]:
merge_common.head()

,Unnamed: 0,Inv No,Month,Nom Code_x,NLPostedNominalTrans.UniqueReferenceNumber,SYSAccountingPeriods.PeriodNumber,NLPostedNominalTrans.GoodsValueInBaseCurrency,Date,Start Date,End Date,...,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19,Apr-19,May-19,Difference
0,0,01/02/18-30/04/18,Apr-18,2010,118311,11,-580.17,43098,43132,43220,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-13.182273
1,1,01/02/18-30/04/18,Feb-18,2010,118309,9,-580.17,43098,43132,43220,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46.152954
2,2,01/02/18-30/04/18,Mar-18,2010,118310,10,-580.17,43098,43132,43220,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-32.960682
3,3,01/03/18-31/03/18,Mar-18,2010,120860,10,-80.00,43130,43160,43190,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,4,01/10/17-30/09/18,Apr-18,2010,106615,11,-25.00,85956,86018,86746,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.000000

In [13]:
invoice_merge_index = merge_common['Inv No'].unique()

In [14]:
print(merge_common.shape)

(12812, 52)

In [30]:
# i = 0
# for invoice in invoice_merge_index[2000:]:
#     sage_months = merge_common[merge_common['Inv No'] == invoice]['Month']
    
#     exclude_months = list(set(months) - set(sage_months))
    
#     row = merge_common[merge_common['Inv No'] == invoice].head(1)
#     row['NLPostedNominalTrans.GoodsValueInBaseCurrency'] = 0
    
#     for month in exclude_months:
#         row['Month'] = month        
#         row['Difference'] = -1*row[row['Month']]
#         merge_common = merge_common.append(row, ignore_index=True)
    
#     i = i +1
#     if(i%100 == 0):
#         print(i)

100
200
300
400
500
600
700
800

In [31]:
print(merge_common.shape)

(102024, 52)

In [32]:
#merge_common.to_csv("merge_common_2000_end.csv")

In [60]:
check = pd.DataFrame()

In [61]:
check['Month'] = np.nan

check['Sage'] = np.nan 

check['Manager'] = np.nan 

check['Common_Difference'] = np.nan 

check['Not_in_Sage'] = np.nan 

check['Not_in_Manager'] = np.nan 

check['Difference'] = np.nan

In [71]:
a = pd.DataFrame()

a['Month'] = np.nan

a['Sage'] = np.nan 

a['Manager'] = np.nan 

a['Common_Difference'] = np.nan 

a['Not_in_Sage'] = np.nan 

a['Not_in_Manager'] = np.nan 

a['Difference'] = np.nan

In [78]:
a.columns

Index(['Month', 'Sage', 'Manager', 'Common_Difference', 'Not_in_Sage',
       'Not_in_Manager', 'Difference'],
      dtype='object')

In [95]:
d = []
for month in months:
    sum_all = round(sage[ sage['Month'] == month ].sum()['NLPostedNominalTrans.GoodsValueInBaseCurrency']*-1 + group_not_in_manager[group_not_in_manager['Month'] == month].sum()['NLPostedNominalTrans.GoodsValueInBaseCurrency'] + group_not_in_sage[month].sum() - merge_common[merge_common['Month'] == month].sum()['Difference'] - manager[month].sum(),2)

    d.append((month, sage[ sage['Month'] == month ].sum()['NLPostedNominalTrans.GoodsValueInBaseCurrency'], manager[month].sum(), merge_common[merge_common['Month'] == month].sum()['Difference'],
              group_not_in_manager[group_not_in_manager['Month'] == month].sum()['NLPostedNominalTrans.GoodsValueInBaseCurrency'],group_not_in_sage[month].sum(), sum_all
             ))

sum_up = pd.DataFrame(d, columns=('Month', 'Sage', 'Manager', 'Common_Difference', 'Not_in_Sage',
       'Not_in_Manager', 'Difference'))

# for month in months:
#     a['Month'] = month
#     a['Sage'] = sage[ sage['Month'] == month ].sum()['NLPostedNominalTrans.GoodsValueInBaseCurrency']
#     a['Manager'] = manager[month].sum()
#     a['Common_Difference'] = merge_common[merge_common['Month'] == month].sum()['Difference']
#     a['Not_in_Manager'] = group_not_in_manager[group_not_in_manager['Month'] == month].sum()['NLPostedNominalTrans.GoodsValueInBaseCurrency']
#     a['Not_in_Sage'] = group_not_in_sage[month].sum()
#     a['Difference'] = a['Sage']*-1 + a['Not_in_Manager'] + a['Not_in_Sage'] - a['Common_Difference'] - a['Manager']
    
#     a = a.append(a,ignore_index=True)
#     #print(sage[ sage['Month'] == month ].sum()['NLPostedNominalTrans.GoodsValueInBaseCurrency'])
#     print(a)

In [96]:
sum_up.head()

,Month,Sage,Manager,Common_Difference,Not_in_Sage,Not_in_Manager,Difference
0,Jun-16,0.0,596806.668603,-6461.777886,0.0,590344.890716,0.0
1,Jul-16,0.0,638758.324503,-35939.432789,0.0,602818.891714,0.0
2,Aug-16,0.0,653405.102799,-63775.114389,0.0,589629.988410,0.0
3,Sep-16,0.0,652279.600849,-89310.301964,0.0,562969.298885,0.0
4,Oct-16,0.0,723362.723972,-121539.928039,0.0,601822.795933,0.0

In [92]:
sum_up.to_csv("sum_all.csv")