# Explanatory Data Analysis

In [7]:
%run "../../Libraries/Display.ipynb"
%run "../../Libraries/Standard.ipynb"
%run "../../Libraries/Style.ipynb"
%run "../../Core/Standard.ipynb"

In [8]:
style.use('seaborn-whitegrid') or plt.style.use('seaborn-whitegrid')

plt.style.use('seaborn-whitegrid')

sns.set(style="ticks", color_codes=True)

In [9]:
data = pd.read_csv("../../Data/Funding_Companies/data.csv")

print("Dimensions: " + str(data.shape))

Dimensions: (37621, 103)

In [10]:
data.head(10)

,Location,Date of Incorporation,SIC Industry,SIC short,Total Sales / Turnover (Period 1),Total Sales / Turnover (Period 2),Total Sales / Turnover (Period 3),Turnover size,3 year Performance,Growth in Total Sales (Period 1),...,Borrowings (current) (Period 2),Borrowings (current) (Period 3),Borrowings (non-current) (Period 1),Borrowings (non-current) (Period 2),Borrowings (non-current) (Period 3),Total Net Assets (Period 1),Total Net Assets (Period 2),Total Net Assets (Period 3),Net Asset Size,Comm Delphi Score Cur
0,London,23/12/1936,Other Service activities,9609,8578000,7820000.0,7956000.0,>5m,Growth,0.10,...,219000.0,135000.0,0.0,0.0,0.0,17671000,16394000.0,15606000.0,>15m,Very Low Risk
1,South West,23/10/1975,Business services,8020,1610000,1417000.0,1460000.0,<5m,Growth,0.14,...,267000.0,10962000.0,0.0,0.0,0.0,2394000,2160000.0,1271000.0,<5m,Very Low Risk
2,NaN,13/01/1926,"Wholesale and retail,motor vehicle repair,sale...",4624,1631322,2523817.0,7284779.0,<5m,Decline,-0.35,...,NaN,NaN,0.0,0.0,0.0,712458,635115.0,563399.0,<5m,Risk Score Suppressed
3,East of England,06/10/1947,All other Manufacturing,3250,1045187,1110000.0,2198000.0,<5m,Decline,-0.06,...,6461000.0,5535000.0,293870.0,252000.0,252000.0,-8256816,-5644000.0,-3789000.0,<5m,Maximum Risk
4,East of England,23/10/1956,All other Manufacturing,3109,6199220,5808238.0,5175177.0,>5m,Growth,0.07,...,1401612.0,1447465.0,0.0,0.0,0.0,12733285,12513615.0,12143108.0,>10m,Very Low Risk
5,South East,08/05/1915,"Manufacture computer, electronic, light electr...",2651,4617000,5083000.0,3569000.0,<5m,Growth,-0.09,...,2013000.0,1798000.0,0.0,0.0,0.0,6856000,6506000.0,6301000.0,>5m,Very Low Risk
6,South East,10/12/1932,Transportation and Storage,5210,8251122,6774171.0,8005323.0,>5m,Steady,0.22,...,NaN,NaN,0.0,0.0,0.0,3869815,3456238.0,3095341.0,<5m,Very Low Risk
7,London,15/04/1947,Business services,6612,2704000,2169000.0,3050000.0,<5m,Decline,0.25,...,4345000.0,3363000.0,0.0,0.0,0.0,5534000,12682000.0,20211000.0,>5m,Below Average Risk
8,East of England,28/12/1923,Construction (including development of real es...,4399,3660143,4675056.0,4138419.0,<5m,Decline,-0.22,...,34000.0,25860.0,2828436.0,2049278.0,2139278.0,253559,515657.0,407457.0,<5m,Low Risk
9,Yorkshire and The Humber,15/06/1966,"Manufacture computer, electronic, light electr...",2651,7797000,6805000.0,7557000.0,>5m,Steady,0.15,...,472000.0,284000.0,0.0,0.0,0.0,9290000,8852000.0,9518000.0,>5m,Very Low Risk

In [11]:
print(empty_columns(data))

Export Sales (Period 3)                   17864
Export Sales (Period 2)                   17419
UK Sales (Period 3)                       17241
Export Sales (Period 1)                   16990
UK Sales (Period 2)                       16834
UK Sales (Period 1)                       16410
Trade Creditors/Debtors (Period 3)        12930
Total Sales per Employee (Period 3)       11824
Gross Profit (Period 3)                   11285
Trade Creditors/Debtors (Period 2)        11281
Trade Creditors/Debtors (Period 1)        10981
Total Sales per Employee (Period 2)       10066
Gross Profit (Period 2)                    9187
Total Sales per Employee (Period 1)        8457
Employee Size                              8457
Growth in Total Sales (Period 3)           8307
Trade Debtors (Period 3)                   8015
Number of Employees (Period 3)             7778
Gross Profit (Period 1)                    7304
Raw Materials / Stocks (Period 3)          6620
Work in Progress (Period 3)                6620
Trade Payables (Period 3)                  6256
Trade Debtors (Period 2)                   6229
Borrowings (current) (Period 3)            6085
Growth in Total Sales (Period 2)           5883
Trade Debtors (Period 1)                   5705
Work in Progress (Period 2)                5600
Raw Materials / Stocks (Period 2)          5599
Number of Employees (Period 2)             5338
Trade And Other Payables (Period 3)        5177
                                          ...
Trade And Other Receivables (Period 3)     1692
Intangible Assets (Period 3)               1618
Working Capital (Period 3)                 1610
Property, Plant & Equipment (Period 3)     1586
Location                                   1574
Total Net Assets (Period 3)                1556
Total Cost of Sales (Period 3)             1554
Dividends Paid (Period 3)                  1554
Inventories (Period 2)                     1287
Cash At Bank (Period 2)                    1182
Borrowings (non-current) (Period 1)        1045
Capital Employed (Period 2)                 977
Trade And Other Receivables (Period 2)      789
Intangible Assets (Period 2)                735
Working Capital (Period 2)                  715
Property, Plant & Equipment (Period 2)      696
Total Net Assets (Period 2)                 658
Dividends Paid (Period 2)                   656
Total Cost of Sales (Period 2)              656
Inventories (Period 1)                      562
Cash At Bank (Period 1)                     529
Capital Employed (Period 1)                 350
SIC Industry                                325
Intangible Assets (Period 1)                194
Working Capital/Total Sales (Period 1)      161
Trade And Other Receivables (Period 1)      114
Property, Plant & Equipment (Period 1)       81
Working Capital (Period 1)                   58
Profit Before Tax (Period 1)                  1
Retained Profit (Period 1)                    1
Length: 87, dtype: int64

Remove all features (columns) that have less than 25% information.

In [12]:
data = data.loc[:, data.isnull().mean() <= .25]
print("Dimensions: " + str(data.shape))

Dimensions: (37621, 91)

Convert dates to years of existance and take companies that exist the last 20 years.

In [13]:
data['Date of Incorporation'] = pd.to_datetime(data['Date of Incorporation'])

data['Date of Incorporation'] = abs(round(data['Date of Incorporation'].apply(lambda x:(datetime.today()-x).days)/365, 1))

data['Date of Incorporation'] = (data['Date of Incorporation'].fillna(data['Date of Incorporation'].median()))

data = data.loc[data['Date of Incorporation'] <= 20]

print("Dimensions: " + str(data.shape))

Dimensions: (20244, 91)

Drop all rows that do not have all information in the columns 'Profitability', 'Turnover size', 'Net Asset Size', '3 year Performance', 'GP Movement', 'Export Mix', 'Employee Size' and 'Comm Delphi Score Cur'. These columns are very important (based on business logic). Moreover, remove all rows that have less than 80% of information

In [14]:
data = data.dropna(subset=['Profitability', 'Turnover size', 'Net Asset Size', '3 year Performance', 'GP Movement', 'Export Mix', 'Employee Size', 'Comm Delphi Score Cur'])

data = data.dropna(thresh=math.floor(len(data.columns)*0.8))

print("Dimensions: " + str(data.shape))

Dimensions: (11560, 91)

Distribution of years 0-25. As we can see most of them exist at least 5 years.

In [15]:
data['Date of Incorporation'].iplot(kind='hist', xTitle='Years', yTitle='count', title='Years of existance')

AttributeError: 'Series' object has no attribute 'iplot'

Industry that they belong. Although it is not clear the name of each industry, we can see that some industries tend to have more businesses.

In [ ]:
data['SIC Industry'].iplot(kind='hist', xTitle='Industry', yTitle='count', title='Industries')

Most of the business have at least 5m turnover.

In [ ]:
data['Turnover size'].iplot(kind='hist', xTitle='Turnover', yTitle='count', title='Turnover size')

Distribution of total sales.

In [ ]:
data['Total Sales / Turnover (Period 1)'].iplot(kind='hist', xTitle='Turnonver', yTitle='count', title='Total Sales / Turnover (Period 1)')

In [ ]:
data['3 year Performance'].iplot(kind='hist', xTitle='Performance', yTitle='count', title='3 year Performance')

The variable export Mix has a lot of outliers (probably).

In [ ]:
data['Export Mix'].iplot(kind='hist', xTitle='Export', yTitle='count', title='Export Mix')

Log values will not fix the problem.

In [ ]:
df = data.dropna()
df['Export Mix'] = (df['Export Mix']*df['Export Mix']+10)
plot_log(df, 'Export Mix')

In [ ]:
plot_log(data, 'Date of Incorporation')

In [ ]:
data['GP Movement'].iplot(kind='hist', xTitle='GP', yTitle='count', title='GP Movement')

There are outliers in the GP% variable.

In [ ]:
data['GP% 1'].iplot(kind='hist', xTitle='GP%', yTitle='count', title='GP% 1')

In [ ]:
data['Profitability'].iplot(kind='hist', xTitle='Profitability', yTitle='count', title='Profitability')

In [ ]:
data['Employee Size'].iplot(kind='hist', xTitle='Employee Size', yTitle='count', title='Employee Size')

Number of employees variable seems ot have outliers

In [ ]:
data['Number of Employees (Period 1)'].iplot(kind='hist', xTitle='Number of Employees (Period 1)', yTitle='count', title='Number of Employees (Period 1)')

In [ ]:
data['Net Asset Size'].iplot(kind='hist', xTitle='Net Asset Size', yTitle='count', title='Net Asset Size')

Distribution of 'Total Net Assets (Period 1)'. The feature 'Total Net Assets (Period 1)' probably has outliers.

In [ ]:
data['Total Net Assets (Period 1)'].iplot(kind='hist', xTitle='Total Net Assets (Period 1)', yTitle='count', title='Total Net Assets (Period 1)')

In [ ]:
data['Comm Delphi Score Cur'].iplot(kind='hist', xTitle='Comm Delphi Score Cur', yTitle='count', title='Comm Delphi Score Cur')

Distribution of 'Growth in Total Sales (Period 1)'. The feature 'Growth in Total Sales (Period 1)' probably has outliers.

In [ ]:
data['Growth in Total Sales (Period 1)'].iplot(kind='hist', xTitle='Growth in Total Sales (Period 1)', yTitle='count', title='Growth in Total Sales (Period 1)')

### Group Categorical Values

In [ ]:
plot_stack(data, ['Location', 'Turnover size'])

In [ ]:
plot_stack(data, ['Location', '3 year Performance'])

In [ ]:
plot_stack(data, ['Location', 'Profitability'])

In [ ]:
plot_stack(data, ['Location', 'GP Movement'])

In [ ]:
plot_stack(data, ['Location', 'Employee Size'])

In [ ]:
plot_stack(data, ['Location', 'Net Asset Size'])

In [ ]:
plot_stack(data, ['Location', 'Comm Delphi Score Cur'])

In [ ]:
data['date'] = round(data['Date of Incorporation'], 0)

In [ ]:
plot_stack(data, ['Location', 'date'])

In [ ]:
plot_stack(data, ['date', 'Turnover size'])

In [ ]:
plot_stack(data, ['date', '3 year Performance'])

In [ ]:
plot_stack(data, ['date', 'GP Movement'])

In [ ]:
plot_stack(data, ['date', 'Profitability'])

In [ ]:
plot_stack(data, ['date', 'Employee Size'])

In [ ]:
plot_stack(data, ['date', 'Net Asset Size'])

In [ ]:
plot_stack(data, ['date', 'Comm Delphi Score Cur'])

In [ ]:
plot_stack(data, ['Turnover size', '3 year Performance'])

In [ ]:
plot_stack(data, ['Turnover size', 'GP Movement'])

In [ ]:
plot_stack(data, ['Turnover size', 'Profitability'])

In [ ]:
plot_stack(data, ['Turnover size', 'Employee Size'])

In [ ]:
plot_stack(data, ['Turnover size', 'Net Asset Size'])

In [ ]:
plot_stack(data, ['Turnover size', 'Comm Delphi Score Cur'])

In [ ]:
plot_stack(data, ['3 year Performance', 'GP Movement'])

In [ ]:
plot_stack(data, ['3 year Performance', 'Profitability'])

In [ ]:
plot_stack(data, ['3 year Performance', 'Employee Size'])

In [ ]:
plot_stack(data, ['3 year Performance', 'Net Asset Size'])

In [ ]:
plot_stack(data, ['3 year Performance', 'Comm Delphi Score Cur'])

In [ ]:
plot_stack(data, ['GP Movement', 'Profitability'])

In [ ]:
plot_stack(data, ['GP Movement', 'Employee Size'])

In [ ]:
plot_stack(data, ['GP Movement', 'Net Asset Size'])

In [ ]:
plot_stack(data, ['GP Movement', 'Comm Delphi Score Cur'])

In [ ]:
plot_stack(data, ['Profitability', 'Employee Size'])

In [ ]:
plot_stack(data, ['Profitability', 'Net Asset Size'])

In [ ]:
plot_stack(data, ['Profitability', 'Comm Delphi Score Cur'])

In [ ]:
plot_stack(data, ['Employee Size', 'Net Asset Size'])

In [ ]:
plot_stack(data, ['Employee Size', 'Comm Delphi Score Cur'])

The rest of the variables did not give any value information or the information is redudant, so these features are removed.

### Identify outliers

The features that will be checked for outliers. IQR and boxplots will be used to detect outliers.

'Export Mix'
'GP% 1'
'Number of Employees (Period 1)'
'Total Net Assets (Period 1)

### Z-score

Print all unique outlier values for each variable

In [ ]:
colnames = ['Export Mix', 'GP% 1', 'Number of Employees (Period 1)', 'Total Net Assets (Period 1)']

for col in colnames:
    print(str(col) + ": ")
    print(detect_zscore_outliers(data[col], True))
    print("  ----end----  ")

### Boxplots

In [ ]:
data['Total Net Assets (Period 1)'].iplot(kind='box', xTitle='claps', yTitle='count', title='Total Net Assets (Period 1)')

In [ ]:
data['GP% 1'].iplot(kind='box', xTitle='GP% 1', yTitle='count', title='GP% 1')

In [ ]:
data['Number of Employees (Period 1)'].iplot(kind='box', xTitle='Number of Employees (Period 1)', yTitle='count', title='Number of Employees (Period 1)')

In [ ]:
data['Total Net Assets (Period 1)'].iplot(kind='box', xTitle='Total Net Assets (Period 1)', yTitle='count', title='Total Net Assets (Period 1)')

In Engineering there is some EDA, after transforming the values and picking features.